@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background: #e6ccb3;
}

/*set container*/
#main, #divtitle, #divwrap, #img-div, #tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
 min-width: 20rem;
 margin: 1.875rem auto;
 margin-bottom: 0;
}

#divtitle {
  width: 50%;
  min-width: 18.75rem;
  border: 0.1875rem solid #996633;
}

#divwrap {
  width: 90%;
}

#img-div, #tribute-info {
  width: 100%;
  padding: 0.625rem;
}


/*title part*/
#title {
  margin-bottom: 0;
}

#divtitle, #tribute-info {
  border-radius: 0.5rem;
}


/*image part*/
#image, #img-caption {
  max-width: 100%;
}

#image {
  border-radius: 0.5rem;
}

#img-caption {
  margin-top: 0.625rem;
  text-align: center;
  font-size: 0.875rem;
}


/*tribute part*/
#tribute-info {
  padding-left: 15%;
  padding-right: 15%;
  background: #d9b38c;
}

.tribute-content{
  margin: 0.3125rem 0;
  text-align: justify;
  text-indent: 1.875rem;
}

#tribute-music-list, #tribute-source {
  align-self: flex-start;
}

h3 {
  margin-top: 2.5rem;
  margin-bottom: 0;
  font-size: 1rem;
}

#tribute-source {
  font-size: 0.9375rem;
  list-style-type: circle;
}

#tribute-source a:hover {
  color: #993333;
}

a {
  color: #000000;
}

/*other part*/
#copyright {
  margin-top: 1.875rem;
  font-size: 0.75rem;
}

#copyright a {
  text-decoration: none;
}
